.dogdiv {
  display: none;
}

.dogdivshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0px 0;
}

.dogbutton {
  border: none;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  height: 40px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  background-color: rgb(185, 211, 226);
  color: black;
}

.dogbutton:active {
  box-shadow: none;
  transform: translate(5px,5px);
  background-color: white;

}

.dogimage {
  border-radius: 20px;
  border: solid;
  border-color: white;
  max-height: 600px;
  max-width: 100%;
  margin-left: 50px;
}
.doginfo {
  border: solid;
  border-color: lightskyblue;
  border-spacing: 10px;
  border-radius: 20px;
  font-size: 32px;
  width: 50%;
  margin-left: 100px;
  color: black;
  background-color: lightgray;
  opacity: .7;
  margin-right: 20px;
}

.doginfo p {
  font-family: 'Source Code Pro';
  background-color: aliceblue;
  text-align: center;

}

.fetcheddogstuff {
  display: none;
}

.fetcheddogstuffshow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.divtocenterimage {
  display: flex;
  width: 50%;
  justify-content: center;
}

.bodybackgrounddogdiv{
  background-image: url(../img/christmass.jpg);
}

@media (max-width: 1280px) {

  .fetcheddogstuffshow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .doginfo {
    font-size: 20px;
    width: 90%;
    margin: 30px 0px 0px 0px;
  }
  .divtocenterimage {
    width: 90%;
  }
  .dogimage {
    max-width: 100%;
    margin-left: 0px;
  }
}