.dogdiv {
  display: none;
}

.dogdivshow {
  display: flex;
  flex-direction: column;
}

.dogbutton {
  margin-top: 20px;
  width: 100px;
}

.dogimage {
  width: 55%;
}

.bodybackgrounddogdiv{
  background-image: url(../img/christmass.jpg);
  /* background-color: white; */
}