.Header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  align-items: center;
}

.Header-title {
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 20px 0px 20px;
  color: white;
  box-shadow: 10px 10px 10px black;
}

.navbar {
  display:flex;
  border-radius: 10px;
  margin: 20px 20px 0 20px;
  justify-content: center;
  column-gap: 20px;
}

.navbutton {
  font-size: 28px;
  border: solid;
  border-color: black;
  /* background-color: rgb(151, 151, 151); */
  background-color: lightgray;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  transform: translate(4px, 4px);
}

nav button:active {
  background-color: black;
  border-radius: 20px;
  border: solid;
  border-color: black;
  color: white;
  box-shadow: none;
  transform: translate(10px,10px);
}

.selected {
  background-color: black;
  border-color: black;
  color: white;
}



.bodybackgroundnasadiv{
  height: 100vh;
  background-image: url(../img/nebula.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


@media (min-width: 1280px) {
  
}
