.Header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
}

.Header-title {
  background-color: black;
  padding: 20px 0 20px 0;
  color: white;
}

.navbar {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

nav button {
  height: 45px;
  margin: 0px 40px 0 40px;
  flex: 1;
  font-size: 28px;
  border-radius: 4px;
  border: solid;
  background-color: transparent;
  color: white;
}

nav button:active {
  background-color: black;
  border-radius: 4px;
  border: solid;
  border-color: black;
  color: white;
}

.selected {
  background-color: black;
  border-color: black;
  color: white;
}

body{
  background-color: brown;
} 

.bodybackground{
  height: 100vh;
  background-image: url(../img/space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;
}

