.nasadiv { 
  display:none;
}

.imagebutton {
  font-size: 20px;
  height: 50px;
  background-color: rgb(57, 29, 73);
  border: solid;
  border-width: 1px;
  border-color: pink;
  border-radius: 10px;
  color: white;
}

.imagebutton:active {
  background-color: white;
  color: black;
}

.nasadivshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 50px 0 50px 0;

}


.nasadivshow p {
  color: white;
  margin: 20px 20px 0 20px;
  /* width: 50%; */
}

.logobuttondiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vh;
}

.nasaimagedetails {
  border-radius: 20px;
  margin: 30px;
  width: 60vh;
}


.nasainfo {
  width: 50%;
  height: 200px;
  overflow: hidden scroll;
}


.nasaLogo {
  width: 100px;
  animation: jiggleJiggle 1s alternate linear infinite;
}

.nasainfoinvisible,
.nasadate, 
.nasaexplanation,
.nasaimage {
  display:none;
}

@keyframes jiggleJiggle {
 from {
  transform: rotate(10deg);
 } 
 to {
  transform: rotate(-10deg);
 }
}