.nasadiv { 
  display:none;
}

.imagebutton {
  font-size: 20px;
  height: 50px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 10px;
  margin-top:30px;
}

.imagebutton:active {
  background-color: blue;
  color: white;
}

.nasadivshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  margin: 100px 0 50px 0;
}


.nasadivshow p {
  margin: 20px 20px 0 20px;
  /* width: 50%; */
}

.nasaimagedetails {
  border-radius: 20px;
  margin: 30px;
  width: 80%;
}


.nasainfo {
  width: 50%;
  height: 200px;
  overflow: hidden scroll;
}

.nasacolors {
  
}

.nasaLogo {
  width: 200px;
  animation: jiggleJiggle 1s alternate linear infinite;
}

.nasainfoinvisible,
.nasadate, 
.nasaexplanation,
.nasaimage {
  display:none;
}

@keyframes jiggleJiggle {
 from {
  transform: rotate(10deg);
 } 
 to {
  transform: rotate(-10deg);
 }
}