.nasadiv { 
  display:none;
}

.imagebutton {
  font-size: 20px;
  height: 50px;
  background-color: rgb(57, 29, 73);
  border: solid;
  border-width: 1px;
  border-color: pink;
  border-radius: 20px;
  color: white;
  box-shadow: 10px 10px 10px black;
  cursor: pointer;
}

.imagebutton:active {
  background-color: white;
  color: black;
}

.nasaLogo {
  width: 78px;
  height: 78px;
  background-color: rgb(9, 61, 145);
  border-radius: 38px;
  animation: jiggleJiggle .5s alternate linear infinite;
  box-shadow: 8px 10px 10px black;

}

.logobuttondiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}


.nasadivshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 50px 0 0px 0;
}

.nasadivshow p {
  color: white;
  /* width: 50%; */
}


.nasaimagedetails {
  border-radius: 20px;
  border: solid;
  border-color: aqua;
  max-width: 55%;
  max-height: 600px;
}


.nasainfo {
  width: 40vh;
  height: 40vh;
  overflow: hidden scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.nasainfo::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* .nasainfoinvisible,
.nasadate, 
.nasaexplanation,
.nasaimage {
  display: flex;
} */


.fetchedstuffdiv {
  display: none;
}

.fetchedstuffdivshow {
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: space-around;

}


.nasadatexp {
  width: 35%;
}

.nasafooter {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.nasaauthor {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes jiggleJiggle {
 from {
  transform: rotate(10deg);
 } 
 to {
  transform: rotate(-10deg);
 }
}


@media (max-width: 1280px) {

  .fetchedstuffdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nasaimagedetails {
    width: 90%;
    height: 50%;
  }
  
  .nasadatexp {
    width: 90%;
    margin-top: 30px;
  }
  
  .nasafooter {
    margin-top: 20px;
    position:relative;
    bottom: 0px;
  }
  .nasaauthor {
    position:relative;
    margin-top: 20px;
    bottom: 0px;
    right: 0px;

  }
}
